# Data Inspection

In [1]:
import pandas as pd 
import numpy as np

In [4]:
# read in species_info data
species = pd.read_csv('../data/species_info.csv')

# check the first 5 rows of the dataframe
print(species.head())

# check the shape of the dataframe
print(species.shape)

  category                scientific_name  \
0   Mammal  Clethrionomys gapperi gapperi
1   Mammal                      Bos bison
2   Mammal                     Bos taurus
3   Mammal                     Ovis aries
4   Mammal                 Cervus elaphus

                                        common_names conservation_status
0                           Gapper's Red-Backed Vole                 NaN
1                              American Bison, Bison                 NaN
2  Aurochs, Aurochs, Domestic Cattle (Feral), Dom...                 NaN
3  Domestic Sheep, Mouflon, Red Sheep, Sheep (Feral)                 NaN
4                                      Wapiti Or Elk                 NaN
(5824, 4)
category               object
scientific_name        object
common_names           object
conservation_status    object
dtype: object
category                  0
scientific_name           0
common_names              0
conservation_status    5633
dtype: int64

In [15]:
# check the data types of the columns
print(species.dtypes)

# check if there are any missing values in the dataframe
print(species.isnull().sum())

category               object
scientific_name        object
common_names           object
conservation_status    object
dtype: object
category                  0
scientific_name           0
common_names              0
conservation_status    5633
dtype: int64

In [10]:
# check number of unique values in the category column
print(species['category'].nunique())

# check number of unique values in the scientific_name column
print(species['scientific_name'].nunique())

# check number of unique values in the common_names column
print(species['common_names'].nunique())

# check number of unique values in the conservation_status column
print(species['conservation_status'].nunique())

7
5541
5504
4

In [14]:
# show the unique values in the dataset
print("Unique values in the dataset:")
print('category:')
print(species.category.value_counts())
print('scientific_name:')
print(species.scientific_name.value_counts())
print('common_names:')
print(species.common_names.value_counts())
print('conservation_status:')
print(species.conservation_status.value_counts())

Unique values in the dataset:
category:
category
Vascular Plant       4470
Bird                  521
Nonvascular Plant     333
Mammal                214
Fish                  127
Amphibian              80
Reptile                79
Name: count, dtype: int64
scientific_name:
scientific_name
Castor canadensis            3
Canis lupus                  3
Hypochaeris radicata         3
Columba livia                3
Puma concolor                3
                            ..
Carex                        1
Hexastylis shuttleworthii    1
Hexastylis heterophylla      1
Hexastylis arifolia          1
Tribulus terrestris          1
Name: count, Length: 5541, dtype: int64
common_names:
common_names
Brachythecium Moss                                                            7
Dicranum Moss                                                                 7
Panic Grass                                                                   6
Bryum Moss                                                                    6
Sphagnum                                                                      6
                                                                             ..
Pine                                                                          1
Red Spruce                                                                    1
Norway Spruce                                                                 1
Fraser Fir                                                                    1
Bullhead, Caltrop, Goathead, Mexican Sandbur, Puncture Vine, Texas Sandbur    1
Name: count, Length: 5504, dtype: int64
conservation_status:
conservation_status
Species of Concern    161
Endangered             16
Threatened             10
In Recovery             4
Name: count, dtype: int64

In [3]:
# read in the data
data = pd.read_csv('../data/observations.csv')

# check the first 5 rows of the dataframe
print(data.head())

# check the shape of the dataframe
print(data.shape)

            scientific_name                            park_name  observations
0        Vicia benghalensis  Great Smoky Mountains National Park            68
1            Neovison vison  Great Smoky Mountains National Park            77
2         Prunus subcordata               Yosemite National Park           138
3      Abutilon theophrasti                  Bryce National Park            84
4  Githopsis specularioides  Great Smoky Mountains National Park            85
(23296, 3)
scientific_name    object
park_name          object
observations        int64
dtype: object
scientific_name    0
park_name          0
observations       0
dtype: int64

In [16]:
# check the data types of the columns
print(data.dtypes)

# check if there are any missing values in the dataframe
print(data.isnull().sum())

scientific_name    object
park_name          object
observations        int64
dtype: object
scientific_name    0
park_name          0
observations       0
dtype: int64

In [17]:

# check the number of unique values in the observations column
print(data['observations'].nunique())

# check the number of unique values in the scientific_name column
print(data['scientific_name'].nunique())

# check the number of unique values in the park_names column
print(data['park_name'].nunique())

304
5541
4

In [18]:
# check the number of unique values in the observations column
print(data['observations'].value_counts())

# check the number of unique values in the scientific_name column
print(data['scientific_name'].value_counts())

# check the number of unique values in the park_names column
print(data['park_name'].value_counts())

observations
84     220
85     210
91     206
92     203
95     202
      ...
9        1
321      1
303      1
314      1
310      1
Name: count, Length: 304, dtype: int64
scientific_name
Myotis lucifugus                        12
Puma concolor                           12
Hypochaeris radicata                    12
Holcus lanatus                          12
Streptopelia decaocto                   12
                                        ..
Packera dimorphophylla var. paysonii     4
Smilax bona-nox                          4
Chondestes grammacus                     4
Leymus triticoides                       4
Dichanthelium depauperatum               4
Name: count, Length: 5541, dtype: int64
park_name
Great Smoky Mountains National Park    5824
Yosemite National Park                 5824
Bryce National Park                    5824
Yellowstone National Park              5824
Name: count, dtype: int64